<footer>

    <a class="deals" href="/info/specialDeals">Check out our special
        offers and great deals!</a>

    <p class="location">Located in Big Sur, CA <br>
    4321 Shoreline Drive
    </p>

</footer>
