<nav class="navBar">
    <div class = "navButton"><a href="/info">Home Page</a></div>
    <div class = "navButton"><a href="/guest/login">Log in</a></div>
    <div class = "navButton"><a href="/guest/login">Log out</a></div>
    <div class = "navButton"><a href="/guest/update">Edit Profile</a></div>
    <div class = "navButton"><a href="/reservation">Make a Reservation</a></div>
    <div class = "navButton"><a href="/info/roomTypes">Room Types</a></div>
    <div class = "navButton"><a href="/info/diningAndAmenities">Dining and Amenities</a></div>
    <div class = "navButton"><a href="/info/events">Events</a></div>
    <div class = "navButton"><a href="/info/contact">Contact Us</a></div>
</nav>
