<nav class="navBar">
    <div class = "navButton"><a href="/info" class="text-decoration-none">Home Page</a></div>
    <div class = "navButton"><a href="/guest/login" class="text-decoration-none">Log In</a></div>
    <div class = "navButton"><a href="/guest/login" class="text-decoration-none">Log Out</a></div>
    <div class = "navButton"><a href="/guest/update" class="text-decoration-none">Edit Profile</a></div>
    <div class = "navButton"><a href="/reservation/makeReservation" class="text-decoration-none">Make a Reservation</a></div>
    <div class = "navButton"><a href="/info/roomTypes" class="text-decoration-none">Room Types</a></div>
    <div class = "navButton"><a href="/info/diningAndAmenities" class="text-decoration-none">Dining and Amenities</a></div>
    <div class = "navButton"><a href="/info/events" class="text-decoration-none">Events</a></div>
    <div class = "navButton"><a href="/info/contact" class="text-decoration-none">Contact Us</a></div>
</nav>
