<nav class="navBar">
    <a class="navButton" href="/info">Home Page</a>
    <a class="navButton" href="/guest/login">Log in</a>
    <a class="navButton" href="/reservation">Make a Reservation</a>
    <a class="navButton" href="/info/roomTypes">Room Types</a>
    <a class="navButton" href="/info/diningAndAmenities">Dining and Amenities</a>
    <a class="navButton" href="/info/events">Events</a>
    <a class="navButton" href="/info/contact">Contact Us</a>
</nav>
