<%-include ('partials/header.ejs')%>

<title>Admin Page</title>
</head>
<body>

<nav class="navBar">
    <a class="navButton" href="/guest/login">Log out</a><br>
</nav>

<p>
    Tables:
</p>

</body>
</html>