<%-include ('partials/header.ejs')%>

    <title>Home Page</title>
</head>
<body>

<%-include ('partials/nav.ejs')%>

<p>
    Our names here?
</p>

<%-include ('partials/footer.ejs')%> <!--footer.ejs Was nav.ejs-->

</body>
</html>