<%-include ('partials/header.ejs')%>

<title>Home Page</title>
</head>
<body>

<%-include ('partials/nav.ejs')%>

<h1>Contact Us</h1>

<h3>
    Phone Number: (831) 555-1234
</h3>
<br>
<h3>Owners:</h3><br>
<h3>Boris Marin</h3><br>
<h3>Niko Holbrook</h3><br>
<h3>James Campbell</h3><br>
<h3>Charlie Dolton</h3><br>

<%-include ('partials/footer.ejs')%> <!--footer.ejs Was nav.ejs-->

</body>
</html>