<%-include ('partials/header.ejs')%>

<title>Dining and Amenities</title>
</head>
<body>

<h1>Our Dining Facilities and Amenities</h1>

<%-include ('partials/nav.ejs')%>

<br>
<h3>Dining</h3>

<p>
    Our world class kitchen will cook fantastic meals for you. We take our food very
    seriously and we hope you and your party will take advantage of it while you're here.
    Our dining room has amazing views of the ocean and comfortable seating.
    We include 2 meals per day with your reservation and our restaurant is open for dine
    in as well as for room service from 8:00am to 10:00pm.
</p>

<figure>
    <img id="diningImage" src="/images/diningImage.png">
</figure>
<br>

<h3>Pool</h3>
<p>
    We offer a beautiful pool with even more beautiful views. The pool is open to all
    between 8:00am and 8:00pm. The water is kept at a comfortable temperature and cleaned
    daily. Swim with a view of the skyline and ocean!
</p>
<figure>
    <img id="poolImage" src="/images/poolImage.jpg">
</figure>
<%-include ('partials/footer.ejs')%> <!--footer.ejs Was nav.ejs-->

</body>
</html>