<%-include ('partials/header.ejs')%>

    <title>Home Page</title>
</head>
<body>

<%-include ('partials/nav.ejs')%>

<h1>Special Events</h1>

<p>
    5/15/21: Group hike through Big Sur starting at 10:00am. Bring sunscreen and good hiking shoes! -Free

    5/21/21: Ocean kayaking
</p>

<%-include ('partials/footer.ejs')%> <!--footer.ejs Was nav.ejs-->

</body>
</html>