<%-include ('partials/header.ejs')%>

    <title>Home Page</title>
</head>
<body>

<h1>Special Events This Month</h1>

<%-include ('partials/nav.ejs')%>

<p>
    5/15/21: Group hike through Big Sur starting at 10:00am. Bring sunscreen and good hiking shoes! -Free
</p><br>
<p>
    5/21/21: Ocean kayaking starting at 12:00pm. Meet in lobby. -$50
</p><br>
<p>
    5/30/21: Nature exploration with a botanist. Meet in lobby at 2:00pm. -$30
</p>

<%-include ('partials/footer.ejs')%> <!--footer.ejs Was nav.ejs-->

</body>
</html>