<%-include ('partials/header.ejs')%>

    <title>Home Page</title>
</head>
<body>




<div id = "homeSection" class = "bg">

    <%-include ('partials/nav.ejs')%>

    <div id = "homeCenterSection">
        <h1 class="siteTitle">SHORLINE RESORT</h1><br>
        <h4 class="lowerTitle">Escape to the Sea!</h4>
    </div>

</div>

<%-include ('partials/footer.ejs')%> <!--footer.ejs Was nav.ejs-->

</body>
</html>
