<%-include ('partials/header.ejs')%>

  <title>Login</title>
</head>
<body class ="stretchedInterface">

    <div id = "loginSection">
        <h3>Welcome to the Shoreline Resort</h3>
    <form action="/guest/login" method="POST" class = "formStyled">

        <% if (typeof error != "undefined") { %>
            <h5 class = "errorMessage"><%= error %></h5>
        <% } %>

        <h3>Login:</h3>
        Username:
        <input type="text" name="username"><br>

        Password:
        <input type="password" name="password"><br>

        <div class = "buttonSectionForm">
        <button>Login</button>
        </div>
    </form>

    <form action ="/guest/create" method="POST" class = "formStyled">
        <h3>Create an Account:</h3>
        First Name:
        <input type="text" name="fName" maxlength="20"><br>
        
        Last Name:
        <input type="text" name="lName" maxlength="20"><br>
        
        Username:
        <input type="text" name="username" maxlength="20"><br>

        Password:
        <input type="password" name="password" maxlength="20"><br>

        <div class = "buttonSectionForm">
        <button>Create</button>
        </div>
    </form>
    </div>
</body>
</html>