<%-include ('partials/header.ejs')%>

  <title>Login</title>
</head>
<body>
    <h3>Welcome to the Shoreline Resort</h3>
    <div id = "loginSection">
    Login:
    <form action="/guest/login" method="POST">

        Username:
        <input type="text" name="username"><br>

        Password:
        <input type="password" name="password"><br>

        <button>Login</button>

    </form>


    Create an Account:
    <form action ="/guest/create" method="POST">

        First Name:
        <input type="text" name="fName" maxlength="20"><br>
        
        Last Name:
        <input type="text" name="lName" maxlength="20"><br>
        
        Username:
        <input type="text" name="username" maxlength="20"><br>

        Password:
        <input type="password" name="password" maxlength="20"><br>

        <button>Create</button>

    </form>

    <% if (typeof error != "undefined") { %>
    <%= error %>
    <% } %>
    </div>

</body>
</html>