body, html {
    height: 100%;
}

#loginSection{
    text-align: center;
}

nav{
    text-align: left;
    margin: 20px 50px;
    background-image: linear-gradient(rgba(0,0,139,1), rgba(0,0,139,0));

}

.navButton{
    color: white;
    border: darkblue solid 3px;
    width: 200px;
    text-decoration: none;
}

.navButton:hover{
    color: blue;
    background-color: white;
    border: darkblue solid 3px;
    width: 150px;
}

h1, h3{
    text-align: center;
    font-family: 'Goblin One', cursive;
    color: darkblue;
    text-shadow: 2px 2px white;
}

h4{
    text-align:center;
    font-family: 'Lobster', cursive;
}

input, button{
    margin: 10px;
}

#roomTypesSection{
    display: flex;
    justify-content: center;
}

#homeSection{
    display: flex;
    justify-content: center;
    background-image: url("/images/backgroundIndex.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#reservationSection{
    display: flex;
    justify-content: center;
    background-image: url("/images/backgroundReservation.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#homeCenterSection, #reservationCenterSection, #roomTypesCenterSection{
    text-align:center;
    padding: 20px 50px;
}

.roomInfoAndImage{
    display: flex;
    justify-content: center;
}

.roomImage{
    width: 200px;
    heght: 200px;
}

#diningImage, #poolImage{
    width: 400px;
}

footer{
    text-align:center;
    padding: 20px 50px;
    background-color: darkblue;
    color: white;
}